<!--
<div class="bg-light p-5 rounded-lg m-3 bodyhome">
  <a class="btn btn-primary btn-lg" href="/addpeca/novapeca" role="button">Nova peça</a>
</div>-->
<div class="bg-light p-4 rounded-lg m-3 bodyhome" >
{{#if produto.length}}
  {{#each produto}} 
    <section id="item">
        <div class="">
          <input type="hidden" value="{{codigo}} ">
            <div class="codigo">
              <b>código:</b> {{codigo}}</div>
            <div class="produto"><b>Produto:</b> {{produto}}</div>
            <div class="modelo"><b>Modelo:</b>
              <select name="modelos" id="modelos">
                  {{modelo}}
              </select>
            </div>
            <div class="marca"><b>Marca:</b>{{marca}} </div><br>
            <div class="quantidade">
              <b class="quantidade">Quantidade disponivel:</b>{{quantidade}}</div>
            <div class="valor"><b>Valor:</b>{{valorv}}</div>
        </div>
        <div class="botoes">
          <button class="btn btn-success btn-adicionar" onclick="adicionarCarrinho('{{codigo}}')">
            Adicionar
          </button >
        </div>
    </section>  

  {{/each}} 
{{else}}
    {{#if Search}}
      <p>nenhum produto encontrado com o nome"{{Search}}"</p>
    {{else}}
    <div id="">
      faça a pesquisa
    </div>
    {{/if}}
{{/if}}
</div>

<style>
.bodyhome , .titulo{
  width: 100%;
}
section{
  margin: 2px;
  background-color: rgb(255, 255, 255); 
  border: 1px solid rgba(104, 101, 101, 0.673);
  display: flex;
  border-radius: 5px ;
  padding-left: 5px;
  box-shadow: -2px 2px 1px 0px rgba(104, 101, 101, 0.5);  
}
.codigo{
    font-size: 14px;
    width: 130px;
}
.produto{
  width: 400px;
  font-size: 20px;
}
.marca{
  display: inline-block;
}
.modelo{
  width: 220px;
  display: inline-block;
}
select{
  opacity: 0.2;
  width: 150px;
}
.quantidade{
  font-size: 14px;
  display: inline-block;
  width: 200px; 
}
.valor{
  font-size: 18px;
  display: inline-block;
}
.botoes{
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.btn-adicionar{
  padding: 10px;
}
</style>

